.App {
  text-align: center;
}

.main-cont{
  display: grid;
  grid-template-columns: auto auto;
  
}
.template{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.btn-link{
  background-color: tomato !important;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}
.demoTwo{
  background-color: teal !important;
}
.img-template{
  margin-top: 55px;
}
.btn-color{
  margin: 20px;

}